<div class="template">
    <div class="img-card"></div>
    <div class="txt">
        <h1>B Tech - Electronics & Communication Engineering (ECE)</h1>
        <br>
        <p>The B Tech Programme in Electronics & Communication Engineering aims to create professionals who can engineer large, relevant and robust electronics & communications systems. The programme provides students a strong foundation in the fundamentals of electronics and communications engineering through courses such as Analog & Digital Communications, Digital Logic & Circuits, Coding & Information Theory, etc. The programme then provides mastery over advanced topics in Embedded Systems, Wireless Broadband Communications and Digital Signal Processing to enable students straddle the overlapping fields of Electronics, Communications and Computer Science.</p>
        <br>
        <h2>Specialisation</h2>
        <ol>
            <li>Wireless Communication</li>
            <li>Communications and Signal Processing</li>
            <li>VLSI & Embedded Systems</li>
            <li>Internet of Things</li>
            <li>Data Science</li>
            <li>Robotics and Automation</li>
        </ol>
        <br>
        <h2>Programme Design Philosophy</h2>
        <p>
            The four-year (8-semesters) B Tech Programme in Electronics & Communication Engineering uses Industry-linked Project-based Learning as a basis wherein students apply what they learn by executing mini-projects of relevance to the industry. This not only minimizes the gap between classroom and practice but also orients the student to solve current and future industry problems.
        </p>
        <br>
        <p>
            Workshop Practice – A path-breaking approach to orient future engineers to product development. Students undergo the complete idea-to-product development life cycle from circuit design, PCB design and fabrication, PCB assembling and testing, product packaging including designing and fabrication of the housing. They also get exposure to modern manufacturing processes through working with CNC machines.
        </p>
    </div>
</div>
