<div class="fixed"><a routerLink="../admissions">Back</a></div>
<div class="template">
    <div class="img-card"></div>
    <div class="txt">
        <h1>B Tech - Computer Science Engineering (CSE) with emphasis on Digital Transformation Technologies</h1>
        <br>
        <p>True to its commitment to the core principle of Industry Linked, NU has recognized the urgent need of the industry for next generation digitally skilled engineers. Responding to this need, it has upgraded its curriculum to incorporate Digital Transformation Technologies – a pool of digital technologies that will transform the way organisations are run.</p>
        <br>
        <p>
            According to a recent release by NASSCOM, the skills of the future would be Big Data Analytics, Cloud & Cybersecurity Services, IoT, Artificial Intelligence and many other Digital Technologies. A huge demand is foreseen for roles such as mobile app development, social media, data scientists & platform engineering. According to a McKinsey report on ‘Technology Jobs & the Future of Work’, digital technologies could contribute $550 billion to $ 1 trillion of economic impact per year in India by the year 2025. According to another renowned survey, 69% of IT leaders expect huge surge in the job market in the next 3 to 5 years due to digital technologies.
        </p>
        <br>
        <p>
            This has led NU to infuse the CSE curriculum with relevant digital technologies that will enable students to add immense value to the organisations they will join.
        </p>
        <br>
        <p>
            The B.Tech in CSE with emphasis on Digital Transformation Technologies has received instant endorsement by industry leaders.
        </p>
        <br>
        <p>
            “Nasscom is playing a critical role in evangelising digital opportunity for the IT sector, and we will support the industry in facilitating skilling and re-skilling efforts through disruptive models. The sector needs a workforce trained in futuristic digital technologies to transform themselves from IT services providers to digital-transformation partners. Higher education institutes can play a key role here and I would like to welcome the pioneering initiative from NIIT University in creating this new-age talent pool.”
    Mr. Raman Roy, Chairman, NASSCOM
        </p>
        <br>
        <p>
            “The scenario is changing rapidly. One the one hand, new areas of work are opening up as technology embeds itself more deeply within different industries and at the same time, existing service lines are being transformed through increasing intelligent automation. I am leading a pan-industry taskforce on behalf of NASSCOM on ‘Skilling for the Future’ and in our estimate, at least 50% future jobs would need skills in new Digital Technologies such as Artificial Intelligence and Anaytics. It is commendable that NIIT University has identified this need and taken it upon itself to create a talent pool with new-age skill sets”
    Mr. Mohit Thukral, Executive Council Member at NASSCOM
        </p>
        <br>
        <p>With industry backing of the B.Tech CSE curriculum with emphasis on Digital Transformation Technologies, B.Tech CSE students can look forward to take on leadership roles in digitally transforming organisations that is the need of the future.</p>
    </div>
</div>
