<div class="slideshow">
    <img src="../../assets/images/ban1.jpg" alt="" id=slideimage name="slideimage" />
</div>
<br>
<div class="text-heading">
    <span>RESEARCH PARTNERS</span>
</div>
<div class="main">
    <div class="wrapper">

        <div class="card">
            <img src="../../assets/images/place1.png">
            <div class="info">
                <h5>Bhabha Atomic Research Centre (BARC), Mumbai</h5>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/images/place2.jpg">
            <div class="info">
                <h5>ISRO, Banglore</h5>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/images/place3.jpg">
            <div class="info">
                <h5>IISC, Banglore</h5>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/images/place4.jpg">
            <div class="info">
                <h5>TATA Consultancy Services, Banglore</h5>
            </div>
        </div>

    </div>
</div>
<br>
<br>
<div class="text-heading">
    <span>HIGHER EDUCATION</span>
</div>

<div class="main">
    <div class="wrapper">

        <div class="card">
            <img src="../../assets/images/clg1.jpg">
            <div class="info">
                <h5>Carnegie Mellon University, USA</h5>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/images/clg2.jpg">
            <div class="info">
                <h5>Full Sail University, Florida</h5>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/images/clg3.jpg">
            <div class="info">
                <h5>Singapore Management University (SMU), Singapore</h5>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/images/clg4.jpg">
            <div class="info">
                <h5>University of Southern California (USC), Los Angeles, CA</h5>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="text-heading">
    <span>PLACEMENTS INCHARGE</span>
</div>

<div class="contact-sec">
    <div class="contact">
        <div class="card-2">
            <div class="fac-img">
                <img src="../../assets/images/fac1.jpg">
            </div>
            <div class="content">
                <div>
                    <p>

                        Geetica Rastogi<br>
                        Director - CIC<br>
                        <a href="#">Geetica.rastogi@niituniversity.in</a>

                    </p>

                </div>
            </div>
        </div>

        <div class="card-2">
            <div class="fac-img">
                <img src="../../assets/images/fac3.jpg">
            </div>
            <div class="content">
                <div>
                    <p>
                        Ratnaraja Singh<br>
                        Faculty Mentor <br>
                        <a href="#">Ratnaraja.Singh@niituniversity.in</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="card-2">
            <div class="fac-img">
                <img src="../../assets/images/fac4.jpg">
            </div>
            <div class="content">
                <div>
                    <p>
                        Bipin Kumar <br>
                        Faculty Mentor <br>
                        <a href="#">Bipin.Kumar@niituniversity.in</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>