
<div id="page-wrapper">

  <!-- Header -->
    <div id="header-wrapper">
      <div id="header" class="container">
        <div class="color-overlay"></div>

        <!-- Logo -->
          <h1 id="logo"><a href="index.html"><img src="../assets/images/logo.png" style="max-width: 125px"></a></h1>

        <!-- Nav -->
          <nav id="nav">
            <ul>
              <li>
                <a href="#">Dropdown</a>
                <ul>
                  <li><a href="#">Lorem ipsum dolor</a></li>
                  <li><a href="#">Magna phasellus</a></li>
                  <li><a href="#">Etiam dolore nisl</a></li>
                  <li>
                    <a href="#">Phasellus consequat</a>
                    <ul>
                      <li><a href="#">Lorem ipsum dolor</a></li>
                      <li><a href="#">Phasellus consequat</a></li>
                      <li><a href="#">Magna phasellus</a></li>
                      <li><a href="#">Etiam dolore nisl</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Veroeros feugiat</a></li>
                </ul>
              </li>
              <li><a href="#">Admissions</a></li>
              <li class="break"><a href="#">Placements</a></li>
              <li><a href="#">Why NU?</a></li>
            </ul>
          </nav>

      </div>

      <!-- Hero -->
        <section id="hero" class="container">
          <header>
            <h2>DISCOVER YOUR FUTURE</h2>
            <br>
            <h2>AT THE UNIVERSITY OF FUTURE</h2>
          </header>
        </section>
    </div>

  <!-- Features 1 -->
    <div class="wrapper-blur">
      <div class="blurback">
        <div class ="ft"></div>
        <div class ="pgm"></div>
        <div class ="tfm"></div>
        <div class ="cp"></div>
      </div>
    </div>

<!-- Scripts -->
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/jquery.dropotron.min.js"></script>
  <script src="../assets/js/browser.min.js"></script>
  <script src="../assets/js/breakpoints.min.js"></script>
  <script src="../assets/js/util.js"></script>
  <script src="../assets/js/main.js"></script>