<div class="template">
    <div class="img-card"></div>
    <div class="txt">
        <h1>B Tech – Biotechnology (BT)</h1>
        <br>
        <p>The Biotechnology programme at NU is driven by the development of theoretical knowledge base as well as the business needs of the Biotechnology sector. It comprises a flexible model where the course content continuously evolves with the rapid changes occurring in the Biotechnology industry. The courses provide competence in Biotechnology through training in the areas of Microbiology, Biological Chemistry, Analytical Techniques, Molecular Biology and Bioinformatics. The major thrust of the programme is towards integration of theoretical knowledge with a hands-on practical experience..</p>
        <br>
        <h2>Specialisation</h2>
        <ol>
            <li>Environmental Biotechnology</li>
            <li>Plant Biotechnology</li>
            <li>Industrial Biotechnology</li>
            <li>Food Biotechnology</li>
            <li>Bioinformatics</li>
        </ol>
        <br>
        <h2>Vision-BT</h2>
        <p>
            To prepare students for the technical and analytical skills enabling them to have potential employment in industry, education, research and management.
        </p>
        <br>
        <p>
            To prepare students for the technical and analytical skills enabling them to have potential employment in industry, education, research and management.
        </p>
    </div>
</div>
