[type=radio] {
    display: none;
  }
  
  .wrapper {
    height: 0;
    padding-bottom: 30%;
    }
  
  #slider {
    height: 20em;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  #slider label {
    margin: auto;
    width: 35%;
    height: 0;
    padding-bottom: 25%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  #s1:checked~#slide4, #s2:checked~#slide5, #s3:checked~#slide1, #s4:checked~#slide2, #s5:checked~#slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
  }
  
  #s1:checked~#slide5, #s2:checked~#slide1, #s3:checked~#slide2, #s4:checked~#slide3, #s5:checked~#slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
  }
  
  #s1:checked~#slide1, #s2:checked~#slide2, #s3:checked~#slide3, #s4:checked~#slide4, #s5:checked~#slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
  }
  
  #s1:checked~#slide2, #s2:checked~#slide3, #s3:checked~#slide4, #s4:checked~#slide5, #s5:checked~#slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
  }
  
  #s1:checked~#slide3, #s2:checked~#slide4, #s3:checked~#slide5, #s4:checked~#slide1, #s5:checked~#slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
  }
/*   
  #slide1 {
    background: url(".../assets/images/IBM.png");
    background-size: 100% 100%;
  }
  
  #slide2 {
    background: url(".../assets/images/Amazon.jpg");
    background-size: 100% 100%;
  }
  
  #slide3 {
    background: url(".../assets/images/Audi-Logo.jpg");
    background-size: 100% 100%;
  }
  
  #slide4 {
    background: url(".../assets/images/ICICI.jpg");
    background-size: 100% 100%;
  }
  
  #slide5 {
    background: url(".../assets/images/Intel.png");
    background-size: 100% 100%;
  } */
  
  .container-circle {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 2em;
    flex-wrap: wrap;
    gap: 0.5em;
  }
  
  .circle {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 13em;
    width: 13em;
    background: transparent linear-gradient(134deg, #69D6C1 0%, #85FFAE 100%) 0% 0% no-repeat padding-box;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    display: flex;
  }
  
  .circle-content {
    font-size: 2em;
    padding-bottom: 0.2em;
    font-weight: bold;
  }